{% extends 'base.html.twig' %}

{% block title %}Printing3D - Mentions légales{% endblock %}

{% block body %}
<div class="container">
    <h1>MENTIONS LEGALES</h1>
    <p>En France, toute personne (physique ou morale) souhaitant publier un site web doit respecter un certain
        nombre d'obligations légales. Depuis l’entrée en application du Règlement général de protection des données
        (RGPD) le 25 mai 2018, les sites (et plus largement toute personne ou organisation collectant des données
        personnelles) doivent recenser les traitements faits et mettre en œuvre les droits assurés par le RGPD. </p>
    <h2>I. Identification</h2>
    <ol>
        <li>Dénomination sociale ou raison sociale</li>
        <li>Adresse du siège social</li>
        <li>Numéro de téléphone et adresse de courrier électronique</li>
        <li>Forme juridique de la société (SA, SARL, SNC, SAS, etc.)</li>
        <li>Montant du capital social</li>
        <li>Nom du directeur ou du codirecteur de la publication et celui du responsable de la rédaction s'il en existe</li>
        <li>Nom, dénomination ou raison sociale et adresse et numéro de téléphone de l'hébergeur de son site</li>
    </ol>
    <h2>II. Activité</h2>
    <p>Pour une activité commerciale, les mentions obligatoires sont les suivantes :</p>
    <ol>
        <li>Numéro d'inscription au registre du commerce et des sociétés</li>
        <li>Numéro individuel d'identification fiscale</li>
        <li>Conditions générales de vente (CGV) incluant le prix TTC en euros, les frais et date de livraison, les modalités de paiement, le service après vente, le droit de rétractation, la durée de l'offre, le coût de la communication à distance</li>
    </ol>
    <h2>III. Mentions relatives à l'utilisation de cookies</h2>
    <p>Pour information, un cookie est un petit fichier informatique, un traceur. Il permet d'analyser le comportement des usagers lors de la visite d'un site internet, de la lecture d'un courrier électronique, de l'installation ou de l'utilisation d'un logiciel ou d'une application mobile. Cependant, ce site n'utilise pas de cookie.</p>
    <h2>IV. Mentions relatives à l'utilisation de données personnelles</h2>
    <ol>
        <li>Coordonnées du délégué à la protection des données (DPO ou DPD) de l'organisme, s'il a été désigné, ou d'un point de contact sur les questions de protection des données personnelles</li>
        <li>Finalité poursuivie par le traitement auquel les données sont destinées</li>
        <li>Caractère obligatoire ou facultatif des réponses et conséquences éventuelles à l'égard de l'internaute d'un défaut de réponse</li>
        <li>Destinataires ou catégories de destinataires des données</li>
        <li>Droits d'opposition, d'interrogation, d'accès et de rectification</li>
        <li>Au besoin, les transferts de données à caractère personnel envisagés à destination d'un État n'appartenant pas à l'Union européenne</li>
        <li>Base juridique du traitement de données (c'est-à-dire ce qui autorise légalement le traitement : il peut s'agir du consentement des personnes concernées, du respect d'une obligation prévue par un texte, de l'exécution d'un contrat notamment)</li>
        <li>Mention du droit d'introduire une réclamation (plainte) auprès de la</li>
    </ol>
    <h2>V. Droit d'auteur</h2>
    <p>Tout site web doit respecter le droit d’auteur et ne pas réutiliser de contenu (image, texte, vidéo, musique) sans l'accord de son auteur ou une licence le permettant.</p>
</div>
{% endblock %}