{% extends 'base.html.twig' %}

{% block title %}Gérer les produits{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Ajouter un produit</h1>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-warning">Ajouter</button>
    {{ form_end(form) }}
</div>

{% endblock %}